@import 'src/styles/breakpoints';

.radioGroup {
  display: flex;
  flex-direction: column;
}

.radioWrapper {
  display: flex;
  flex-direction: row;
  gap: 87px;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    gap: 15px;
  }

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
    gap: 10px;
  }
}
