@import 'src/styles/breakpoints';

.checkboxWrapper {
  display: inline-block;
  width: fit-content;
}

input[type='checkbox'] {
  position: absolute;
  left: -9999px;
}

.label {
  cursor: pointer;
  user-select: none;

  display: flex;
  gap: 6px;
  align-items: center;

  font-size: var(--text-base);

  @media (max-width: $breakpoint-sm) {
    font-size: var(--text-xsm);
  }
}

.checked {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icons {
  position: relative;
  display: flex;
  align-items: center;

  &:focus-within {
    border-radius: 10px;
    outline: 2px solid var(--color-primary);
    outline-offset: 4px;
  }
}
