@import 'src/styles/breakpoints';

.option {
  display: flex;
  gap: 10px;
  align-items: center;
  width: fit-content;
}

.label {
  cursor: pointer;
  user-select: none;

  display: flex;
  gap: 10px;
  align-items: center;

  font-size: var(--text-2xl);

  @media (max-width: $breakpoint-md) {
    font-size: var(--text-xl);
  }

  @media (max-width: $breakpoint-sm) {
    font-size: var(--text-base);
  }
}

.input {
  cursor: pointer;
  position: absolute;
  left: -9999px;
}

.icons {
  position: relative;
  display: flex;
  align-items: center;

  &:focus-within {
    border-radius: 10px;
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }
}

.checked {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
