@import 'breakpoints';

html {
  box-sizing: border-box;
  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a:visited {
  color: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--font-family), sans-serif;
  color: var(--color-primary);

  background: url('src/assets/img/background.jpg') center top no-repeat;
  background-size: cover;
}

.container {
  height: 100vh;
  max-width: 1455px;
  margin: 0 auto;
  padding: 8.95rem 8.75rem 0;

  @media (max-width: $breakpoint-md) {
    padding: 10.5rem 2.81rem 0;
  }

  @media (max-width: $breakpoint-sm) {
    padding: 2.5rem 1rem 3.1rem;
  }
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  height: 71px;

  @media (max-width: $breakpoint-md) {
    height: 52px;
  }

  @media (max-width: $breakpoint-sm) {
    height: 41px;
  }
}

.title {
  font-size: var(--text-3xl);
  font-weight: var(--font-medium);

  @media (max-width: $breakpoint-md) {
    font-size: var(--text-2xl);
  }

  @media (max-width: $breakpoint-sm) {
    font-size: var(--text-lg);
  }
}
