@import 'src/styles/breakpoints';

.button {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 272px;
  height: 4.375rem;
  padding: 1.25rem 1.13rem;

  font-size: var(--text-2xl);
  font-weight: var(--font-bold);

  border-radius: 100px;

  transition: all 0.3s ease;

  @media (max-width: $breakpoint-md) {
    min-width: 219px;
    height: 3.5rem;
    padding: 1rem 0.75rem;
    font-size: var(--text-xl);
  }

  @media (max-width: $breakpoint-sm) {
    min-width: 229px;
    height: 2.75rem;
    padding: 0.75rem 0.5rem;
    font-size: var(--text-base);
  }
}

.primary {
  color: var(--color-white);
  background: var(--gradient-primary);
  border: none;
  box-shadow: var(--shadow-btn);

  &:hover {
    background: var(--gradient-primary-hover);
  }

  &:active {
    background: var(--gradient-outline-active);
  }

  &:disabled {
    cursor: auto;
    background: var(--gradient-primary-disabled);
  }
}

.outline {
  color: var(--color-primary);
  background:
    linear-gradient(#fff, #fff) padding-box,
    var(--gradient-outline) border-box;
  border: 2px solid transparent;

  &:hover {
    background:
      linear-gradient(#fff, #fff) padding-box,
      var(--gradient-outline-hover) border-box;
  }
}
