@import 'src/styles/breakpoints';

.card {
  padding: 6.25rem 10rem;
  background-color: var(--color-white);
  border-radius: 2.5rem;
  box-shadow: var(--shadow-card);

  @media (max-width: $breakpoint-md) {
    padding: 7.75rem 1.87rem;
  }

  @media (max-width: $breakpoint-sm) {
    height: 100%;
    padding: 0;

    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}
